################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects/Library/.vs/Library/v17
/Projects/Library/Library/obj/Debug
/Metadata/ITFormacion/bin
/Metadata/ITFormacion/BuildProjectResult.xml
/Metadata/ITFormacion/BuildProjectResult.log
/Projects/Library/.vs/Library/FileContentIndex/03a256d6-0674-4a53-bf55-e6970fb35448.vsidx
/Projects/Library/.vs/Library/FileContentIndex/27a64a4d-4d07-4184-a5ae-6056150d835b.vsidx
/Projects/Library/.vs/Library/FileContentIndex/727f401a-cf18-45dd-8d24-ba1b81960802.vsidx
/Projects/Library/.vs/Library/FileContentIndex/8dbf8304-c5f9-4af7-bdc7-6d7c2f13a630.vsidx
/Projects/Library/.vs/Library/FileContentIndex/f6df2d7e-901c-4c1b-b6c1-1411b532b896.vsidx
/Projects/Library/.vs/Library/FileContentIndex
