################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects/Library/.vs/Library/v17
/Projects/Library/Library/obj/Debug
