################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects/Library/.vs/Library/v17
/Projects/Library/Library/obj/Debug
/Projects/Library/.vs/Library/FileContentIndex
/Metadata/ITFormacion/bin
/Metadata/ITFormacion/BuildModelResult.err.xml
/Metadata/ITFormacion/BuildModelResult.log
/Metadata/ITFormacion/BuildModelResult.xml
/Metadata/ITFormacion/BuildProjectResult.log
/Metadata/ITFormacion/BuildProjectResult.xml
